<h1>Home</h1>

<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Admins', root_path %></li>
    <li><%= link_to 'Companies', companies_path %></li>
    <li><%= link_to 'Convites', invitations_path %></li>
  </ul>
</nav>