<h1>
<%= I18n.t('views.admin.edit') %>
</h1>

<%= render "form", administrator: @administrator %>

<br>

<div>
  <%= link_to I18n.t('views.admin.show'), administration_path(id: @administrator.id) %> |
  <%= link_to I18n.t('views.common.back'), administrations_path %>
</div>
